// themes.scss
body.Celestia {
    background-color: #fffcf2;
    color: #191919;
  }
  
  body.Hydro {
    background-color: #c0dbf9;
    color: #191919;
  }
  
  body.Dendro {
    background-color: #1eb45f;
    color: #fffcf2;
  }
  
  body.Pyro {
    background-color: #ff746e;
    color: #fffcf2;
  }
  
  body.Cryo {
    background-color: #aaf4ff;
    color: #191919;
  }
  
  body.Anemo {
    background-color: #7cecbf;
    color: #191919;
  }
  
  body.Geo {
    background-color: #e1af00;
    color: #fffcf2;
  }
  
  body.Abyss {
    background-color: #191919;
    color: #fffcf2;
  }
  