// Colors
$light-foreground: #520288;
$light-background: #F9EFA9;
$dark-foreground: #F9E03E;
$dark-background: #310250;

$primary-color-800: #FFE541;
$primary-color-700: #FAE665;
$primary-color-600: #FBE978;
$primary-color-500: #FBEC8B;
$primary-color-400: #FCF09F;
$primary-color-300: #FDF3B2;
$primary-color-200: #FDF6C5;
$primary-color-100: #FEF9D8;

$secondary-color-800: #2C0066;
$secondary-color-700: #482279;
$secondary-color-600: #633F8B;
$secondary-color-500: #7D5D9E;
$secondary-color-400: #967BB1;
$secondary-color-300: #B09BC5;
$secondary-color-200: #CABBD8;
$secondary-color-100: #E5DDEB;

// Font Sizes
$general-font: Nunito, sans-serif;
$h1-font: 48px $general-font;
$h2-font: 32px $general-font;
$h3-font: 16px $general-font;
$p-font: 14px $general-font;
$bold-font: 14px $general-font bold;
$small-font: 12px $general-font;

// Spacing & Sizing
