// Themes

// Body Light
body.Light {
  margin: 0;
  background-color: #F9EFA9;
  color: #2C0066;

  .navbar {
    background-color: #FFE541;
  }

  .footer {
    background-color: #FFE541;
  }

  .navbar-logo {
    color: #2C0066;
    text-decoration: none;
  }

  button {
    background-color: #FFE541;
    color: #2C0066;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 100%;
    padding: 10px;

    &:hover {
      background-color: darken(#FFE541, 10%);
    }
  }

  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #2C0066;
    background-color: #FEF9D8;
    color: #2C0066;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    &.active {
      backdrop-filter: blur(5px);
    }
  }

  .modal-content {
    position: relative;
    background-color: #FEF9D8;
    color: #2C0066;
    border: 3px solid #2C0066;
    width: 70vh;
    max-height: 80vh;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    animation: fadeIn 0.3s ease-in-out;

    @keyframes fadeIn {
      from { opacity: 0; transform: scale(0.95); }
      to { opacity: 1; transform: scale(1); }
    }
  }

  .close-modal-btn {
    position: absolute;
    width: 10vh;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #2C0066;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    padding: 5px;

    &:hover {
      color: #FF0000;
    }
  }
}

// Body Dark
body.Dark {
  margin: 0;
  background-color: #482279;
  color: #FFE541;

  a, link {
    color: #FFE541;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease-in-out;

    &:hover {
      color: #FFD700;
      text-decoration: underline;
    }

    &:focus {
      outline: 2px solid #FFD700;
    }
  }

  .navbar {
    background-color: #2C0066;
  }

  .footer {
    background-color: #2C0066;
  }

  .navbar-logo {
    color: #FFE541;
    text-decoration: none;
  }

  button {
    background-color: #2C0066;
    color: #FFE541;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 100%;
    padding: 10px;

    &:hover {
      background-color: lighten(#2C0066, 10%);
    }
  }

  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #FFE541;
    background-color: #310250;
    color: #FFE541;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    &.active {
      backdrop-filter: blur(5px);
    }
  }

  .modal-content {
    position: relative;
    background-color: #310250;
    color: #FFE541;
    border: 3px solid #FFE541;
    width: 70vh;
    max-height: 80vh;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    animation: fadeIn 0.3s ease-in-out;

    @keyframes fadeIn {
      from { opacity: 0; transform: scale(0.95); }
      to { opacity: 1; transform: scale(1); }
    }
  }

  .close-modal-btn {
    position: absolute;
    width: 10vh;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFE541;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    padding: 5px;

    &:hover {
      color: #FF0000;
    }
  }
}

body.DarkDark {
  margin: 0;
  background-color: #1c1c1c;
  color: #e3e3e3;

  a, link {
    color: #e3e3e3;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease-in-out;

    &:hover {
      color: #ffffff;
      text-decoration: underline;
    }

    &:focus {
      outline: 2px solid #ffffff;
    }
  }


  .navbar {
    background-color: #393939;
  }

  .footer {
    background-color: #393939;
  }

  .navbar-logo {
    color: #e3e3e3;
    text-decoration: none;
  }

  button {
    background-color: #393939;
    color: #e3e3e3;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 100%;
    padding: 10px;

    &:hover {
      background-color: lighten(#393939, 10%);
    }
  }

  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #e3e3e3;
    background-color: #555555;
    color: #e3e3e3;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    margin-bottom: 4px;

    &.active {
      backdrop-filter: blur(5px);
    }
  }

  .modal-content {
    position: relative;
    background-color: #555555;
    color: #e3e3e3;
    border: 3px solid #e3e3e3;
    width: 70vh;
    max-height: 80vh;
    margin-bottom: 4px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    animation: fadeIn 0.3s ease-in-out;

    @keyframes fadeIn {
      from { opacity: 0; transform: scale(0.95); }
      to { opacity: 1; transform: scale(1); }
    }
  }

  .close-modal-btn {
    position: absolute;
    width: 10vh;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #e3e3e3;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    padding: 5px;

    &:hover {
      color: #FF0000;
    }
  }
}




// Variables de colores
$light-foreground: #520288;
$light-background: #F9EFA9;
$dark-foreground: #F9E03E;
$dark-background: #310250;

$primary-color-800: #FFE541;
$primary-color-700: #FAE665;
$primary-color-600: #FBE978;
$primary-color-500: #FBEC8B;
$primary-color-400: #FCF09F;
$primary-color-300: #FDF3B2;
$primary-color-200: #FDF6C5;
$primary-color-100: #FEF9D8;

$secondary-color-800: #2C0066;
$secondary-color-700: #482279;
$secondary-color-600: #633F8B;
$secondary-color-500: #7D5D9E;
$secondary-color-400: #967BB1;
$secondary-color-300: #B09BC5;
$secondary-color-200: #CABBD8;
$secondary-color-100: #E5DDEB;

// Font Families
$title-font: 'Afacad', sans-serif;
$text-font: 'Open Sans', sans-serif;

// Font Sizes
$h1-font: 48px $title-font;
$h2-font: 32px $title-font;
$h3-font: 16px $title-font;
$p-font: 14px $text-font;
$bold-font: 14px $text-font bold;
$small-font: 12px $text-font;


//toma amore mio
/*
#1c1c1c //header
#393939
#555555
#717171
#8e8e8e
#aaaaaa
#c6c6c6
#e3e3e3*/