

// Themes

body.Light{

background-color:#F9EFA9;
color: #2C0066;
.navbar{
background-color:#FFE541;
}
.footer{
    background-color:#FFE541;
}
.navbar-logo{
    color: #2C0066;
    text-decoration: none;

}

.navbar-button{
    color: #2C0066;

}

.navbar-dropdown-button{

    color: #2C0066;

}

.navbar-dropdown{
    color: #2C0066;

}
}


body.Dark{
color: #FFE541;
background-color: #482279;
.navbar{
background-color:#2C0066;
}
.footer{
background-color:#2C0066;
}
.navbar-logo{
    color: #FFE541;
    text-decoration: none;
}

}
$light-foreground: #520288;
$light-background: #F9EFA9;
$dark-foreground: #F9E03E;
$dark-background: #310250;

$primary-color-800: #FFE541;
$primary-color-700: #FAE665;
$primary-color-600: #FBE978;
$primary-color-500: #FBEC8B;
$primary-color-400: #FCF09F;
$primary-color-300: #FDF3B2;
$primary-color-200: #FDF6C5;
$primary-color-100: #FEF9D8;

$secondary-color-800: #2C0066;
$secondary-color-700: #482279;
$secondary-color-600: #633F8B;
$secondary-color-500: #7D5D9E;
$secondary-color-400: #967BB1;
$secondary-color-300: #B09BC5;
$secondary-color-200: #CABBD8;
$secondary-color-100: #E5DDEB;

// Font Families

$title-font: 'Afacad', sans-serif;
$text-font: 'Open Sans', sans-serif;

// Font Sizes

$h1-font: 48px $title-font;
$h2-font: 32px $title-font;
$h3-font: 16px $title-font;
$p-font: 14px $text-font;
$bold-font: 14px $text-font bold;
$small-font: 12px $text-font;

// Spacing & Sizing
