@use "Core/_Variables.scss" as Variables;

section{
  height: auto;
}
section >{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
  main{
    h1{
      font: Variables.$h1-font;
    }
    h2{
      font: Variables.$h2-font;
    }
    h3{
      font: Variables.$h3-font;
    }
    p{
      font: Variables.$p-font;
    }
  }
}
