@import "../core/_Fonts.scss";
@import "../core/_Variables.scss";


h1 {
  text-align: center;
  display: flex;
  justify-content: center;

}

.home-contents {
  text-align: center;
  display: flex;
  justify-content: center;
  
}
