@import "../core/_Fonts.scss";
@import "../core/_Variables.scss";

$modal-overlay-background: rgba(0, 0, 0, 0.7);
$modal-max-width: 600px;
$modal-padding: 20px;
$close-btn-size: 20px;
$modal-header-padding: 10px;
$image-max-limit: 5; // Límite de imágenes

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  padding: $modal-padding;
  border-radius: 8px;
  position: relative;
  width: 80%;
  max-width: $modal-max-width;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header {
  padding: $modal-header-padding;
  border-radius: 8px 8px 0 0;
  font-size: 18px;
  font-weight: bold;
}

.modal-body {
  padding: 15px 0;
  font-size: 14px;

  .image-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;

    .image-preview {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 8px;

      &:nth-child(n + #{$image-max-limit + 1}) {
        display: none; // Ocultar imágenes si exceden el límite
      }
    }

    .image-error {
      color: red;
      font-size: 12px;
      margin-top: 5px;
      display: none;
    }
  }
}

.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: $close-btn-size;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    color: $secondary-color-700;
  }
}
